<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>91式歲數計算器</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="touch-icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.8.1/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-toast-notification@0.6.0/dist/theme-sugar.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.8.1/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.8.1/locale/zh-tw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@0.6.0/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-clipboards@1.2.4/dist/vue-clipboards.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar color="pink lighten-3" app>
          <v-spacer></v-spacer>
          <v-toolbar-title>91式歲數計算器</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-app-bar>
        <v-main>
          <v-container fluid>
            <v-layout text-center wrap>
              <v-flex mb-5 xs12>
                <p>完全本地運算、無經由伺服器運算、無蒐集個資</p>
                <p>可安心食用</p>
              </v-flex>
              <v-flex mb-5 xs12>
                <p>輸入西元出生日期⬇️</p>
                <v-row justify="center">
                  <v-col
                    cols="12"
                    sm="10"
                    md="8"
                    lg="6"
                  >
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          readonly
                          v-model="startDate"
                          prepend-icon="mdi-calendar"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        color="pink lighten-3"
                        ref="picker"
                        v-model="startDate"
                        :max="maxDate"
                        min="1911-01-01"
                        @change="save"
                        locale="zh-tw"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>

              </v-flex>
              <v-flex mb-5 xs12>
                <template v-if="isStartDateEmpty">
                  <span>窩ㄐ歲ㄋ(⁎⁍̴̛ᴗ⁍̴̛⁎)</span>
                </template>
                <template v-else>
                  <div class="my-2">
                    <p v-if="isBirthAlready" id="chinese">窩{{ ninetyoneAge }}歲歲
                    <v-btn v-clipboard="pendingCopyMsg"
                      @success="copySuccess"
                      @error="copyError"
                      color="pink lighten-3"
                      elevation="2"
                    >複製文字</v-btn></p>
                    <span v-else>窩還沒出生</span>
                  </div>
                </template>
              </v-flex>
            </v-layout>
          </v-container>
        </v-main>
        <v-footer color="pink lighten-3" app>
          <v-row
          justify="center"
          no-gutters
          >
          0.0
          </v-row>
        </v-footer>
      </v-app>
    </div>
    <script>
      const mq = window.matchMedia('(prefers-color-scheme: dark)')
      Vue.use(vueClipboards)
      Vue.use(VueToast)
      var vm = new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: { 
            dark: mq.matches,
          }
        }),
        data: {
          startDate: null,
          maxDate: null,
          menu: false,
          ninetyoneAge: null,
          isStartDateEmpty: true,
          isBirthAlready: true,
          pendingCopyMsg: null,
        },
        created: function () {
          this.maxDate = moment().add(3, 'years').format('YYYY-MM-DD')
        },
        watch: {
          startDate: function (val) {
            if (val) {
              this.isStartDateEmpty = false
              let start = moment(val, 'YYYY/MM/DD')
              let end = moment(new Date())
              let boringAge = end.diff(start, 'year')

              if (boringAge < 0) {
                this.isBirthAlready = false
              } else {
                this.isBirthAlready = true
              }
              this.ninetyoneAge = boringAge - Math.floor(boringAge/12)*12
              if (this.ninetyoneAge == 0) {
                this.ninetyoneAge = 1
              }
              this.pendingCopyMsg = `窩${this.ninetyoneAge}歲歲`
            } else {
              this.isStartDateEmpty = true
            }
          },
          menu (val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
          },
        },
        methods: {
          save (startDate) {
            this.$refs.menu.save(startDate)
          },
          copySuccess(e) {
            Vue.$toast.success('複製成功(⁎⁍̴̛ᴗ⁍̴̛⁎)', {
              position: 'top'
            })
          },
          copyError(e) {
            Vue.$toast.error('複製失敗qwqqq', {
              position: 'top'
            })
          },
        },
        components: {
          DatePicker,
        },
      })
      mq.addEventListener('change', (e) => {
        vm.$vuetify.theme.dark = e.matches
      })
    </script>
  </body>
</html>
